@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Yasak bölge";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Kutsal topraklara izinsiz girdiniz. Çıkıyorsunuz!</p>
</header>
