@model ErrorViewModel
@{
    ViewData["Title"] = "Hata";
}

<h1 class="text-danger">Hata.</h1>
<h2 class="text-danger">İsteğinizde bir hata var.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Geliştirici modu</h3>
<p>
    <strong>Geliştirici</strong> modunda hatayı görebilirsiniz.
</p>

